<a href="https://colab.research.google.com/github/PosgradoMNA/Actividades-del-proyecto-equipo15/blob/main/Reto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [45]:
df_ejercicio2 = pd.read_csv("https://raw.githubusercontent.com/Samara332/dataSet/main/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_subterraneas_2020.csv", encoding='cp1252')
df_ejercicio2.head()

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,ACUIFERO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DUR,CUMPLE_CON_CF,CUMPLE_CON_NO3,CUMPLE_CON_AS,CUMPLE_CON_CD,CUMPLE_CON_CR,CUMPLE_CON_HG,CUMPLE_CON_PB,CUMPLE_CON_MN,CUMPLE_CON_FE
0,DLAGU6,POZO SAN GIL,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,ASIENTOS,VALLE DE CHICALOTE,POZO,-102.02210,22.20887,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
1,DLAGU6516,POZO R013 CAÑADA HONDA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,AGUASCALIENTES,VALLE DE CHICALOTE,POZO,-102.20075,21.99958,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
2,DLAGU7,POZO COSIO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,COSIO,VALLE DE AGUASCALIENTES,POZO,-102.28801,22.36685,2020,...,SI,SI,SI,NO,SI,SI,SI,SI,SI,SI
3,DLAGU9,POZO EL SALITRILLO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,VALLE DE AGUASCALIENTES,POZO,-102.29449,22.18435,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
4,DLBAJ107,RANCHO EL TECOLOTE,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LA PAZ,TODOS SANTOS,POZO,-110.24480,23.45138,2020,...,SI,SI,NO,SI,SI,SI,SI,SI,SI,SI

Empezamos analizando la data con la función .describe() para identificar alguna tendencia.

In [46]:
df_ejercicio2.describe()

          LONGITUD      LATITUD  PERIODO     ALC_mg/L  CONDUCT_mS/cm  SDT_mg/L
count  1068.000000  1068.000000   1068.0  1064.000000    1062.000000       0.0
mean   -101.891007    23.163618   2020.0   235.633759    1138.953013       NaN
std       6.703263     3.887670      0.0   116.874291    1245.563674       NaN
min    -116.664250    14.561150   2020.0    26.640000      50.400000       NaN
25%    -105.388865    20.212055   2020.0   164.000000     501.750000       NaN
50%    -102.174180    22.617190   2020.0   215.527500     815.000000       NaN
75%     -98.974716    25.510285   2020.0   292.710000    1322.750000       NaN
max     -86.864120    32.677713   2020.0  1650.000000   18577.000000       NaN

Identificamos los nombres de las columnas y que tipo de datos contiene

In [47]:
df_ejercicio2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 57 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 1068 non-null   object
 1   SITIO                 1068 non-null   object
 2   ORGANISMO_DE_CUENCA   1068 non-null   object
 3   ESTADO                1068 non-null   object
 4   MUNICIPIO             1068 non-null   object
 5   ACUIFERO              1068 non-null   object
 6   SUBTIPO               1068 non-null   object
 7   LONGITUD              1068 non-null   float64
 8   LATITUD               1068 non-null   float64
 9   PERIODO               1068 non-null   int64
 10  ALC_mg/L              1064 non-null   float64
 11  CALIDAD_ALC           1064 non-null   object
 12  CONDUCT_mS/cm         1062 non-null   float64
 13  CALIDAD_CONDUC        1062 non-null   object
 14  SDT_mg/L              0 non-null      float64
 15  SDT_M_mg/L            1066 non-null   object
 16  CALIDAD_SDT_ra        1066 non-null   object
 17  CALIDAD_SDT_salin     1066 non-null   object
 18  FLUORUROS_mg/L        1068 non-null   object
 19  CALIDAD_FLUO          1068 non-null   object
 20  DUR_mg/L              1067 non-null   object
 21  CALIDAD_DUR           1067 non-null   object
 22  COLI_FEC_NMP/100_mL   1068 non-null   object
 23  CALIDAD_COLI_FEC      1068 non-null   object
 24  N_NO3_mg/L            1067 non-null   object
 25  CALIDAD_N_NO3         1067 non-null   object
 26  AS_TOT_mg/L           1068 non-null   object
 27  CALIDAD_AS            1068 non-null   object
 28  CD_TOT_mg/L           1068 non-null   object
 29  CALIDAD_CD            1068 non-null   object
 30  CR_TOT_mg/L           1068 non-null   object
 31  CALIDAD_CR            1068 non-null   object
 32  HG_TOT_mg/L           1068 non-null   object
 33  CALIDAD_HG            1068 non-null   object
 34  PB_TOT_mg/L           1068 non-null   object
 35  CALIDAD_PB            1068 non-null   object
 36  MN_TOT_mg/L           1068 non-null   object
 37  CALIDAD_MN            1068 non-null   object
 38  FE_TOT_mg/L           1068 non-null   object
 39  CALIDAD_FE            1068 non-null   object
 40  SEMAFORO              1068 non-null   object
 41  CONTAMINANTES         634 non-null    object
 42  CUMPLE_CON_ALC        1068 non-null   object
 43  CUMPLE_CON_COND       1068 non-null   object
 44  CUMPLE_CON_SDT_ra     1068 non-null   object
 45  CUMPLE_CON_SDT_salin  1068 non-null   object
 46  CUMPLE_CON_FLUO       1068 non-null   object
 47  CUMPLE_CON_DUR        1068 non-null   object
 48  CUMPLE_CON_CF         1068 non-null   object
 49  CUMPLE_CON_NO3        1068 non-null   object
 50  CUMPLE_CON_AS         1068 non-null   object
 51  CUMPLE_CON_CD         1068 non-null   object
 52  CUMPLE_CON_CR         1068 non-null   object
 53  CUMPLE_CON_HG         1068 non-null   object
 54  CUMPLE_CON_PB         1068 non-null   object
 55  CUMPLE_CON_MN         1068 non-null   object
 56  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(5), int64(1), object(51)
memory usage: 475.7+ KB

Identificamos que variables cuentan con datos faltantes para posteriormente tomar la decisión si agregarle la media o eliminarlos

In [48]:
df_ejercicio2.isnull().any()

CLAVE                   False
SITIO                   False
ORGANISMO_DE_CUENCA     False
ESTADO                  False
MUNICIPIO               False
ACUIFERO                False
SUBTIPO                 False
LONGITUD                False
LATITUD                 False
PERIODO                 False
ALC_mg/L                 True
CALIDAD_ALC              True
CONDUCT_mS/cm            True
CALIDAD_CONDUC           True
SDT_mg/L                 True
SDT_M_mg/L               True
CALIDAD_SDT_ra           True
CALIDAD_SDT_salin        True
FLUORUROS_mg/L          False
CALIDAD_FLUO            False
DUR_mg/L                 True
CALIDAD_DUR              True
COLI_FEC_NMP/100_mL     False
CALIDAD_COLI_FEC        False
N_NO3_mg/L               True
CALIDAD_N_NO3            True
AS_TOT_mg/L             False
CALIDAD_AS              False
CD_TOT_mg/L             False
CALIDAD_CD              False
CR_TOT_mg/L             False
CALIDAD_CR              False
HG_TOT_mg/L             False
CALIDAD_HG              False
PB_TOT_mg/L             False
CALIDAD_PB              False
MN_TOT_mg/L             False
CALIDAD_MN              False
FE_TOT_mg/L             False
CALIDAD_FE              False
SEMAFORO                False
CONTAMINANTES            True
CUMPLE_CON_ALC          False
CUMPLE_CON_COND         False
CUMPLE_CON_SDT_ra       False
CUMPLE_CON_SDT_salin    False
CUMPLE_CON_FLUO         False
CUMPLE_CON_DUR          False
CUMPLE_CON_CF           False
CUMPLE_CON_NO3          False
CUMPLE_CON_AS           False
CUMPLE_CON_CD           False
CUMPLE_CON_CR           False
CUMPLE_CON_HG           False
CUMPLE_CON_PB           False
CUMPLE_CON_MN           False
CUMPLE_CON_FE           False
dtype: bool

In [49]:
df_ejercicio2[["SDT_mg/L"]]

      SDT_mg/L
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
1063       NaN
1064       NaN
1065       NaN
1066       NaN
1067       NaN

[1068 rows x 1 columns]

In [50]:
del(df_ejercicio2["SDT_mg/L"])  #eliminamos la columna 14 la cual no tiene datos

In [51]:
df_ejercicio2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 56 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 1068 non-null   object
 1   SITIO                 1068 non-null   object
 2   ORGANISMO_DE_CUENCA   1068 non-null   object
 3   ESTADO                1068 non-null   object
 4   MUNICIPIO             1068 non-null   object
 5   ACUIFERO              1068 non-null   object
 6   SUBTIPO               1068 non-null   object
 7   LONGITUD              1068 non-null   float64
 8   LATITUD               1068 non-null   float64
 9   PERIODO               1068 non-null   int64
 10  ALC_mg/L              1064 non-null   float64
 11  CALIDAD_ALC           1064 non-null   object
 12  CONDUCT_mS/cm         1062 non-null   float64
 13  CALIDAD_CONDUC        1062 non-null   object
 14  SDT_M_mg/L            1066 non-null   object
 15  CALIDAD_SDT_ra        1066 non-null   object
 16  CALIDAD_SDT_salin     1066 non-null   object
 17  FLUORUROS_mg/L        1068 non-null   object
 18  CALIDAD_FLUO          1068 non-null   object
 19  DUR_mg/L              1067 non-null   object
 20  CALIDAD_DUR           1067 non-null   object
 21  COLI_FEC_NMP/100_mL   1068 non-null   object
 22  CALIDAD_COLI_FEC      1068 non-null   object
 23  N_NO3_mg/L            1067 non-null   object
 24  CALIDAD_N_NO3         1067 non-null   object
 25  AS_TOT_mg/L           1068 non-null   object
 26  CALIDAD_AS            1068 non-null   object
 27  CD_TOT_mg/L           1068 non-null   object
 28  CALIDAD_CD            1068 non-null   object
 29  CR_TOT_mg/L           1068 non-null   object
 30  CALIDAD_CR            1068 non-null   object
 31  HG_TOT_mg/L           1068 non-null   object
 32  CALIDAD_HG            1068 non-null   object
 33  PB_TOT_mg/L           1068 non-null   object
 34  CALIDAD_PB            1068 non-null   object
 35  MN_TOT_mg/L           1068 non-null   object
 36  CALIDAD_MN            1068 non-null   object
 37  FE_TOT_mg/L           1068 non-null   object
 38  CALIDAD_FE            1068 non-null   object
 39  SEMAFORO              1068 non-null   object
 40  CONTAMINANTES         634 non-null    object
 41  CUMPLE_CON_ALC        1068 non-null   object
 42  CUMPLE_CON_COND       1068 non-null   object
 43  CUMPLE_CON_SDT_ra     1068 non-null   object
 44  CUMPLE_CON_SDT_salin  1068 non-null   object
 45  CUMPLE_CON_FLUO       1068 non-null   object
 46  CUMPLE_CON_DUR        1068 non-null   object
 47  CUMPLE_CON_CF         1068 non-null   object
 48  CUMPLE_CON_NO3        1068 non-null   object
 49  CUMPLE_CON_AS         1068 non-null   object
 50  CUMPLE_CON_CD         1068 non-null   object
 51  CUMPLE_CON_CR         1068 non-null   object
 52  CUMPLE_CON_HG         1068 non-null   object
 53  CUMPLE_CON_PB         1068 non-null   object
 54  CUMPLE_CON_MN         1068 non-null   object
 55  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(4), int64(1), object(51)
memory usage: 467.4+ KB

In [53]:
df_ejercicio2[["CONTAMINANTES"]]

       CONTAMINANTES
0                NaN
1                NaN
2           FLUO,AS,
3                NaN
4               NO3,
...              ...
1063  CONDUC,DT,NO3,
1064            NO3,
1065  CONDUC,DT,NO3,
1066             NaN
1067             NaN

[1068 rows x 1 columns]

In [58]:
df_ejercicio2.dropna(inplace=True)

In [59]:
df_ejercicio2.isnull().any()

CLAVE                   False
SITIO                   False
ORGANISMO_DE_CUENCA     False
ESTADO                  False
MUNICIPIO               False
ACUIFERO                False
SUBTIPO                 False
LONGITUD                False
LATITUD                 False
PERIODO                 False
ALC_mg/L                False
CALIDAD_ALC             False
CONDUCT_mS/cm           False
CALIDAD_CONDUC          False
SDT_M_mg/L              False
CALIDAD_SDT_ra          False
CALIDAD_SDT_salin       False
FLUORUROS_mg/L          False
CALIDAD_FLUO            False
DUR_mg/L                False
CALIDAD_DUR             False
COLI_FEC_NMP/100_mL     False
CALIDAD_COLI_FEC        False
N_NO3_mg/L              False
CALIDAD_N_NO3           False
AS_TOT_mg/L             False
CALIDAD_AS              False
CD_TOT_mg/L             False
CALIDAD_CD              False
CR_TOT_mg/L             False
CALIDAD_CR              False
HG_TOT_mg/L             False
CALIDAD_HG              False
PB_TOT_mg/L             False
CALIDAD_PB              False
MN_TOT_mg/L             False
CALIDAD_MN              False
FE_TOT_mg/L             False
CALIDAD_FE              False
SEMAFORO                False
CONTAMINANTES           False
CUMPLE_CON_ALC          False
CUMPLE_CON_COND         False
CUMPLE_CON_SDT_ra       False
CUMPLE_CON_SDT_salin    False
CUMPLE_CON_FLUO         False
CUMPLE_CON_DUR          False
CUMPLE_CON_CF           False
CUMPLE_CON_NO3          False
CUMPLE_CON_AS           False
CUMPLE_CON_CD           False
CUMPLE_CON_CR           False
CUMPLE_CON_HG           False
CUMPLE_CON_PB           False
CUMPLE_CON_MN           False
CUMPLE_CON_FE           False
dtype: bool

Debido a que algunas de las columnas sin datos eran datos categóricos, al no poder colocar una media se deciden eliminar por lo que la base de datos queda con un total de 627 filas.

Dentro de los datos eliminados se elimina toda la columna 14 la cual no contaba con ningún dato